Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Admin==1.6.1
Flask-Login==0.6.3
psycopg2-binary==2.9.9
alembic==1.13.0
python-dotenv==1.0.0
gunicorn==21.2.0
Werkzeug==3.1.3
PyMuPDF
requests
vt-py
alembic==1.13.0
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
psycopg2-binary==2.9.9
PyMuPDF
python-dotenv==1.0.0
requests
vt-py
Werkzeug==3.1.3
filetype
Flask-Limiter
python-magic
alembic==1.13.0
filetype
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Limiter
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
psycopg2-binary==2.9.9
PyMuPDF
python-dotenv==1.0.0
python-magic
requests
vt-py
Werkzeug==3.1.3
flask-wtf
alembic==1.13.0
filetype
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Limiter
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
psycopg2-binary==2.9.9
PyMuPDF
python-dotenv==1.0.0
python-magic
requests
vt-py
Werkzeug==3.1.3
alembic==1.13.0
filetype
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Limiter
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
flask-wtf
gunicorn==21.2.0
psycopg2-binary==2.9.9
PyMuPDF
python-dotenv==1.0.0
python-magic
requests
vt-py
Werkzeug==3.1.3
alembic==1.13.0
filetype
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Limiter
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
flask-wtf
gunicorn==21.2.0
psycopg2-binary==2.9.9
PyMuPDF
python-dotenv==1.0.0
python-magic
requests
vt-py
Werkzeug==3.1.3
alembic==1.13.0
filetype
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Limiter
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
flask-wtf
gunicorn==21.2.0
psycopg2-binary==2.9.9
PyMuPDF
python-dotenv==1.0.0
python-magic
requests
vt-py
Werkzeug==3.1.3
alembic==1.13.0
filetype
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Limiter
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
flask-wtf
gunicorn==21.2.0
psycopg2-binary==2.9.9
PyMuPDF
python-dotenv==1.0.0
python-magic
requests
vt-py
Werkzeug==3.1.3
