alembic==1.13.0
beautifulsoup4
exifread
filetype
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Babel
Flask-Limiter
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
flask-wtf
gunicorn==21.2.0
mutagen
opencv-python-headless
piexif
Pillow
psycopg2-binary==2.9.9
PyMuPDF
python-dotenv==1.0.0
python-magic
pyzbar
qrcode[pil]
requests
semgrep
user-agents
vt-py
Werkzeug==3.1.3
