/*
 * Nom de l'application : CyberConfiance
 * Description : Fichier theme-light.css du projet CyberConfiance
 * Produit de : MOA Digital Agency, www.myoneart.com
 * Fait par : Aisance KALONJI, www.aisancekalonji.com
 * Auditer par : La CyberConfiance, www.cyberconfiance.com

*/

/**
 * CyberConfiance
 * By MOA Digital Agency LLC
 * Developed by: Aisance KALONJI
 * Contact: moa@myoneart.com
 * www.myoneart.com
 * 
 * Theme clair (desactive - utilise style.css).
 */

/* Theme light removed - using fixed dark theme in style.css */
